<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Let's Go! - Admin - Drivers</title>
	<th:block th:insert="~{fragments/scripts}"></th:block>
</head>
<body class="vh-100 d-flex flex-column">
<th:block th:insert="~{fragments/navbar}"></th:block>
<div class="d-flex flex-fill">
	<th:block th:insert="~{fragments/sidebar}"></th:block>
	<main class="container-sm text-center flex-grow-1">
		<h1>Drivers</h1>
		<table class="table table-striped table-hover table-sm align-middle">
			<thead class="table-dark">
			<tr>
				<th>ID</th>
				<th>Full<br>Name</th>
				<th>Trips<br>Driven</th>
				<th>Times<br>Rated</th>
				<th>Safety<br>Score</th>
				<th>Status</th>
				<th>Trips</th>
				<th>Vehicles</th>
				<th>Account</th>
				<th>Edit</th>
			</tr>
			</thead>
			<tbody class="table-group-divider border-indigo-subtle">
			<tr th:each="driver : ${drivers}" th:object="${driver}">
				<td th:text="${driver.driverId}"></td>
				<td th:text="${driver.fullName}"></td>
				<td th:text="${driver.tripsDriven}"></td>
				<td th:text="${driver.timesRated}"></td>
				<td><div class="alert fw-bold" th:text="${#numbers.formatDecimal(driver.driverSafetyScore,1,1)}"
				         th:classappend="${driver.driverSafetyScore} > 0 ? (${driver.driverSafetyScore} >= 2 ? (${driver.driverSafetyScore} >= 3 ? (${driver.driverSafetyScore} >= 4 ?
				         'alert-green' : 'alert-yellow') : 'alert-orange') : 'alert-red') : 'alert-secondary'"></div></td>
				<td>
					<a th:if="${driver.driverStatus == 'Active'}" class="btn btn-sm btn-green active">Active</a>
					<a th:if="${driver.driverStatus == 'Inactive'}" class="btn btn-sm btn-yellow active">Inactive</a>
					<a th:if="${driver.driverStatus == 'Banned'}" class="btn btn-sm btn-red active">Banned</a>
				</td>
				<td><button type="button" class="btn btn-sm btn-cyan" data-bs-toggle="modal" data-bs-target="#tripsByDriverModal" th:data-driver-id="${driver.driverId}" onclick="loadTripsByDriverModal(this)">View Trips</button></td>
				<td><button type="button" class="btn btn-sm btn-teal" data-bs-toggle="modal" data-bs-target="#vehiclesModal" th:data-driver-id="${driver.driverId}" onclick="setDriverIdAndLoadVehiclesModal(this)">Vehicles</button></td>
				<td><a class="btn btn-sm btn-outline-primary" th:href="@{/admin/viewAccount(id=${driver.getUser().userId})}">View Account</a></td>
				<td><a class="btn btn-sm btn-outline-teal" th:href="@{/admin/drivers/editDriver(id=${driver.driverId})}">Edit Driver</a></td>
			</tr>
			</tbody>
		</table>
		<th:block th:insert="~{fragments/modals/tripsByDriverModal}"></th:block>
		<th:block th:insert="~{fragments/modals/vehiclesModal}"></th:block>
	</main>
</div>
</body>
</html>