<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout/2">
<head>
	<meta charset="UTF-8">
	<title>Let's Go! - Admin - Drivers</title>
	<th:block th:insert="~{fragments/scripts}"></th:block>
</head>
<body class="vh-100 d-flex flex-column">
<th:block th:insert="~{fragments/navbar}"></th:block>
<div class="d-flex flex-fill">
	<th:block th:insert="~{fragments/sidebar}"></th:block>
	<main class="container-sm text-center flex-grow-1">
		<h1>Active Drivers</h1>
		<table class="table table-striped table-hover table-sm align-middle">
			<thead class="table-dark">
			<tr>
				<th>ID</th>
				<th>First<br>Name</th>
				<th>Last<br>Name</th>
				<th>Trips<br>Driven</th>
				<th>Times<br>Rated</th>
				<th>Safety<br>Score</th>
				<th>Status</th>
				<th>View<br>Account</th>
				<th>Edit</th>
			</tr>
			</thead>
			<tbody class="table-group-divider border-indigo-subtle">
			<tr th:each="d:${drivers}">
				<td th:text="${d.driverId}"></td>
				<td th:text="${d.user.firstName}"></td>
				<td th:text="${d.user.lastName}"></td>
				<td th:text="${d.tripsDriven}"></td>
				<td th:text="${d.timesRated}"></td>
				<td th:text="${d.driverSafetyScore}"></td>
				<td>
					<a th:href="@{/admin/drivers/driverStatus(id=${d.driverId}, status='active')}" class="btn btn-sm" th:classappend="${d.driverStatus} == 'active' ? 'btn-green' : 'btn-outline-green'" th:text="${d.driverStatus} == 'active' ? 'Active' : 'Activate'"/>
					<a th:href="@{/admin/drivers/driverStatus(id=${d.driverId}, status='inactive')}" class="btn btn-sm" th:classappend="${d.driverStatus} == 'inactive' ? 'btn-yellow' : 'btn-outline-yellow'" th:text="${d.driverStatus} == 'inactive' ? 'Inactive' : 'Deactivate'"/>
					<a th:href="@{/admin/drivers/driverStatus(id=${d.driverId}, status='banned')}" class="btn btn-sm" th:classappend="${d.driverStatus} == 'banned' ? 'btn-red' : 'btn-outline-red'" th:text="${d.driverStatus} == 'banned' ? 'Banned' : 'Ban'"/>
				</td>
				<td><a class="btn btn-sm btn-outline-primary" th:href="@{/admin/viewAccount(id=${d.user.userId})}">View Account</a></td>
				<td>
					<a class="btn btn-sm btn-outline-teal" th:href="@{/admin/drivers/editDriver(id=${d.driverId})}">Edit Driver</a>
				</td>
			</tr>
			</tbody>
		</table>
	</main>
</div>
</body>
</html>