<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Let's Go! - Trips</title>
	<th:block th:insert="~{fragments/scripts}"></th:block>
</head>
<body class="vh-100 d-flex flex-column">
<th:block th:insert="~{fragments/navbar}"></th:block>
<div class="d-flex flex-fill">
	<th:block th:insert="~{fragments/sidebar}"></th:block>
	<main class="container-sm text-center flex-grow-1">
		<h1>Trips</h1>
		<table class="table table-striped table-hover table-sm align-middle">
			<thead class="table-dark">
			<tr>
				<th></th>
				<th>ID</th>
				<th colspan="2">From</th>
				<th colspan="2">Destination</th>
				<th>Status</th>
				<th>Edit</th>
			</tr>
			</thead>
			<tbody class="table-group-divider border-indigo-subtle">
			<tr th:each="trip:${trips}" th:object="${trip}">
				<td><img th:src="@{${'/routeImages/' + trip.route.routeImageSource}}" height="100px"></td>
				<td th:text="*{tripId}"></td>
				<td th:text="*{route.locationStart}"></td>
				<td th:text="*{date + ' ' + departureTime.toString()}"></td>
				<td th:text="*{route.locationEnd}"></td>
				<td th:text="*{date + ' ' + arrivalTime}"></td>
				<td>
					<a th:if="*{tripStatus == 'completed'}" class="btn btn-sm btn-dark active">Completed</a>
					<a th:if="*{tripStatus == 'planned'}" class="btn btn-sm btn-teal active">Planned</a>
					<a th:if="*{tripStatus == 'requested'}" class="btn btn-sm btn-indigo active">Requested</a>
					<a th:if="*{tripStatus == 'cancelled'}" class="btn btn-sm btn-red active">Cancelled</a>
				</td>
				<td>
					<a class="btn btn-sm btn-cyan" th:href="@{/admin/trips/editTrip(id=*{tripId})}">Edit</a>
				</td>
			</tr>
			</tbody>
		</table>
	</main>
</div>
</body>
</html>