<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
	<meta charset="UTF-8">
	<title>Let's Go! - Admin - Users</title>
	<th:block th:insert="~{fragments/scripts}"></th:block>
</head>
<body class="vh-100 d-flex flex-column">
	<th:block th:insert="~{fragments/navbar}"></th:block>
	<div class="d-flex flex-fill">
		<th:block th:insert="~{fragments/sidebar}"></th:block>
		<main class="container text-center flex-grow-1">
			<h1>All Users</h1>
			<table class="table table-striped table-hover table-sm align-middle">
				<thead class="table-dark">
				<tr>
					<th>ID</th>
					<th>First Name</th>
					<th>Last Name</th>
					<th>Email</th>
					<th>Admin</th>
					<th>Username</th>
					<th>User Status</th>
					<th>Account</th>
					<th>Edit</th>
					<th>Delete</th>
				</tr>
				</thead>
				<tbody class="table-group-divider border-indigo-subtle">
				<tr th:each="u:${listUsers}">
					<td th:text="${u.userId}"></td>
					<td th:text="${u.firstName}"></td>
					<td th:text="${u.lastName}"></td>
					<td th:text="${u.email}"></td>
					<td th:text="${u.isAdmin}"></td>
					<td th:text="${u.username}"></td>
					<td th:text="${u.userStatus}"></td>
					<td><a class="btn btn-sm btn-outline-primary" th:href="@{/admin/viewAccount(id=${u.userId})}">View Account</a></td>
					<td>
						<div class="btn-group">
							<a class="btn btn-sm btn-outline-blue" th:href="@{/admin/users/editUser(id=${u.userId})}">Edit User</a>
							<a class="btn btn-sm btn-outline-cyan" th:href="@{/admin/riders/editRider(id=${u.rider.riderId})}">Edit Rider</a>
							<a class="btn btn-sm btn-outline-teal" th:href="@{/admin/drivers/editDriver(id=${u.driver.driverId})}">Edit Driver</a>
						</div>
					</td>
					<td><a th:href="@{/admin/users/deleteUser(id=${u.userId})}" class="btn btn-danger btn-sm" onclick="return confirm('Are you sure you want to delete the record ?')">Delete</a></td>
				</tr>
				</tbody>
			</table>
		</main>
	</div>
</body>
</html>