<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Let's Go! - Admin - View Account</title>
	<th:block th:insert="~{fragments/scripts}"></th:block>
	<style>
		tbody th {text-align: right}
		tbody td {text-align: left}
	</style>
</head>
<body class="vh-100 d-flex flex-column">
<th:block th:insert="~{fragments/navbar}"></th:block>
<div class="d-flex flex-fill">
	<th:block th:insert="~{fragments/sidebar}"></th:block>
	<main class="container-sm text-center flex-grow-1">
		<section th:each="u:${users}">
			<h1>Hello <span th:text="${u.firstName}"></span> <span th:text="${u.lastName}"></span></h1>
			<table class="table table-striped table-hover table-sm align-middle">
				<thead class="table-dark">
					<tr>
						<th colspan="2">User</th>
						<th></th>
						<th colspan="2">Rider</th>
						<th></th>
						<th colspan="2">Driver</th>
					</tr>
					<tr class="table-light">
						<th colspan="2"></th>
						<th></th>
						<th colspan="2">
							<a th:if="${u.rider.isActive}" th:href="@{/admin/activateRider(id=${u.userId})}" class="btn btn-orange btn-sm">Deactivate Rider Account</a>
							<a th:if="${!u.rider.isActive}" th:href="@{/admin/activateRider(id=${u.userId})}" class="btn btn-info btn-sm">Activate Rider Account</a>
						</th>
						<th></th>
						<th colspan="2">
							<a th:if="${u.driver.isActive}" th:href="@{/admin/activateDriver(id=${u.userId})}" class="btn btn-orange btn-sm">Deactivate Driver Account</a>
							<a th:if="${!u.driver.isActive}" th:href="@{/admin/activateDriver(id=${u.userId})}" class="btn btn-info btn-sm">Activate Driver Account</a>
						</th>
					</tr>
				</thead>
				<tbody class="table-group-divider border-indigo-subtle">
					<tr>
						<th>userID: </th><td th:text="${u.userId}"></td><td></td>
						<th>userID: </th><td th:text="${u.rider.user.userId}"></td><td></td>
						<th>userID: </th><td th:text="${u.userId}"></td>
					</tr>
					<tr>
						<th>firstName: </th><td th:text="${u.firstName}"></td><td></td>
						<th>riderId: </th><td th:text="${u.rider.riderId}"></td><td></td>
						<th>driverId: </th><td th:text="${u.driver.driverId}"></td>
					</tr>
					<tr>
						<th>lastName: </th><td th:text="${u.lastName}"></td><td></td>
						<th>isActive: </th><td th:text="${u.rider.isActive}"></td><td></td>
						<th>isActive: </th><td th:text="${u.driver.isActive}"></td>
					</tr>
					<tr>
						<th>userStatus: </th><td th:text="${u.userStatus}"></td><td></td>
						<th>riderStatus: </th><td th:text="${u.rider.riderStatus}"></td><td></td>
						<th>driverStatus: </th><td th:text="${u.driver.driverStatus}"></td>
					</tr>
					<tr>
						<th>timesRated: </th><td th:text="${u.timesRated}"></td><td></td>
						<th>timesRated: </th><td th:text="${u.rider.timesRated}"></td><td></td>
						<th>timesRated: </th><td th:text="${u.driver.timesRated}"></td>
					</tr>
					<tr>
						<th>overallSafetyScore: </th><td th:text="${u.overallSafetyScore}"></td><td></td>
						<th>riderSafetyScore: </th><td th:text="${u.rider.riderSafetyScore}"></td><td></td>
						<th>driverSafetyScore: </th><td th:text="${u.driver.driverSafetyScore}"></td>
					</tr>
					<tr>
						<th>overallSafetyRating: </th><td th:text="${u.overallSafetyRating}"></td><td></td>
						<th>riderSafetyRating: </th><td th:text="${u.rider.riderSafetyRating}"></td><td></td>
						<th>driverSafetyRating: </th><td th:text="${u.driver.driverSafetyRating}"></td>
					</tr>
					<tr>
						<th>overallResponsibilityRating: </th><td th:text="${u.overallResponsibilityRating}"></td><td></td>
						<th>riderResponsibilityRating: </th><td th:text="${u.rider.riderResponsibilityRating}"></td><td></td>
						<th>driverResponsibilityRating: </th><td th:text="${u.driver.driverResponsibilityRating}"></td>
					</tr>
					<tr>
						<th>email: </th><td th:text="${u.email}"></td><td colspan="6"></td>
					</tr>
					<tr>
						<th>password: </th><td th:text="${u.password}"></td><td colspan="6"></td>
					</tr>
					<tr>
						<th>isAdmin: </th><td th:text="${u.isAdmin}"></td><td colspan="6"></td>
					</tr>
					<tr>
						<th>username: </th><td th:text="${u.username}"></td><td colspan="6"></td>
					</tr>
					<tr>
						<th>createdAt: </th><td th:text="${u.createdAt}"></td><td></td>
						<th></th><td th:text="${u.rider.createdAt}"></td><td></td>
						<th></th><td th:text="${u.driver.createdAt}"></td>
					</tr>
					<tr>
						<th>updatedAt: </th><td th:text="${u.updatedAt}"></td><td></td>
						<th></th><td th:text="${u.rider.updatedAt}"></td><td></td>
						<th></th><td th:text="${u.driver.updatedAt}"></td>
					</tr>
				</tbody>
				<tfoot>
					<tr>
						<th colspan="2"><a class="btn btn-sm btn-outline-primary" th:href="@{/admin/users/editUser(id=${u.userId})}">Edit User</a></th>
						<th></th>
						<th colspan="2"><a class="btn btn-sm btn-outline-primary" th:href="@{/admin/riders/editRider(id=${u.rider.riderId})}">Edit Rider</a></th>
						<th></th>
						<th colspan="2"><a class="btn btn-sm btn-outline-primary" th:href="@{/admin/drivers/editDriver(id=${u.driver.driverId})}">Edit Driver</a></th>
					</tr>
				</tfoot>
			</table>
		</section>
	</main>
</div>
</body>
</html>