<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Let's Go! - Create Route</title>
	<th:block th:insert="~{fragments/scripts}"></th:block>
</head>
<body th:insert="~{fragments/security/adminSecurity}"></body>
<body th:if="${session.AUTH == 'ADMIN'}" class="vh-100 d-flex flex-column" style="min-width: 576px;">
<th:block th:insert="~{fragments/navbar}"></th:block>
<div class="d-flex flex-fill">
	<th:block th:insert="~{fragments/sidebar}"></th:block>
	<main class="container-sm text-center flex-grow-1">
		<div class="row">
			<div class="col-12 col-md-10 col-lg-9 col-xl-8 col-xxl-7 my-3 mx-auto align-middle">
				<div class="card">
					<div class="card-header">
						Create Route
					</div>
					<div class="card-body text-start">
						<form id="form" class="needs-validation" novalidate method="post" th:action="@{/admin/routes/createRoute}" th:object="${route}">
							<div class="row g-3">
								<div hidden>
								</div>
								<div class="col-6">
									<label for="locationStart" class="form-label">Location Start</label>
									<input id="locationStart" class="form-control" type="text" th:field="*{locationStart}" required>
								</div>
								<div class="col-6">
									<label for="locationEnd" class="form-label">Location End</label>
									<input id="locationEnd" class="form-control" type="text" th:field="*{locationEnd}" required>
								</div>
								<div class="col-4">
									<label for="routeStatus" class="form-label">Status</label>
									<select id="routeStatus" class="form-select" th:field="*{routeStatus}" required>
										<option th:value="active" th:selected="*{routeStatus == 'active'}">Active</option>
										<option th:value="inactive" th:selected="*{routeStatus == 'inactive'}">Inactive</option>
										<option th:value="requested" th:selected="*{routeStatus == 'requested'}">Requested</option>
									</select>
								</div>
								<div class="col-4">
									<label for="routeDistance" class="form-label">Distance (km)</label>
									<input id="routeDistance" class="form-control" type="number" th:field="*{routeDistance}" required>
								</div>
								<div class="col-4">
									<label for="routeDuration" class="form-label">Duration (min)</label>
									<input id="routeDuration" class="form-control" type="number" th:field="*{routeDuration}" required>
								</div>
								<div class="col-12">
									<label for="routeImageSource" class="form-label">Image URL</label>
									<input id="routeImageSource" class="form-control" type="text" th:field="*{routeImageSource}">
								</div>
							</div>
						</form>
					</div>
					<div class="card-footer text-end">
						<button form="form" type="submit" id="submit" class="btn btn-outline-primary">Create Route</button>
					</div>
				</div>
			</div>
		</div>
	</main>
</div>
</body>
</html>