<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Let's Go! - Edit Route</title>
	<th:block th:insert="~{fragments/scripts}"></th:block>
</head>
<body class="vh-100 d-flex flex-column">
<th:block th:insert="~{fragments/navbar}"></th:block>
<div class="d-flex flex-fill">
	<th:block th:insert="~{fragments/sidebar}"></th:block>
	<main class="container-sm text-center flex-grow-1">
		<div class="row">
			<div class="col-12 col-md-10 col-lg-9 col-xl-8 col-xxl-7 my-3 mx-auto align-middle">
				<div class="card">
					<div class="card-header fs-4">Edit Route</div>
					<div class="card-body text-start">
						<form id="form" class="needs-validation" novalidate method="post" th:action="@{/admin/routes/editRoute}" th:object="${route}">
							<div class="row g-3">
								<div class="col-2" th:insert="~{fragments/inputs :: divFloatingDisabledData('number', 'routeId', 'routeId', 'Route ID')}"></div>
								<div class="col-5">
									<label for="locationStart" class="form-label">Location Start</label>
									<input id="locationStart" class="form-control" type="text" th:field="*{locationStart}" required>
								</div>
								<div class="col-5">
									<label for="locationEnd" class="form-label">Location Start</label>
									<input id="locationEnd" class="form-control" type="text" th:field="*{locationEnd}" required>
								</div>
								<div class="col-3">
									<label for="routeStatus" class="form-label">Status</label>
									<select id="routeStatus" class="form-select" th:field="*{routeStatus}" required>
										<option th:value="Active" th:selected="*{routeStatus == 'Active'}">Active</option>
										<option th:value="Inactive" th:selected="*{routeStatus == 'Inactive'}">Inactive</option>
										<option th:value="Requested" th:selected="*{routeStatus == 'Requested'}">Requested</option>
									</select>
								</div>
								<div class="col-3">
									<label for="routeDistance" class="form-label">Distance</label>
									<div class="input-group">
										<input id="routeDistance" class="form-control" type="number" th:field="*{routeDistance}" required>
										<span class="input-group-text">min</span>
									</div>
								</div>
								<div class="col-3">
									<label for="routeDuration" class="form-label">Duration</label>
									<div class="input-group">
										<input id="routeDuration" class="form-control" type="number" th:field="*{routeDuration}" required>
										<span class="input-group-text">km</span>
									</div>
								</div>
								<div class="col-3">
									<label for="routeImageSource" class="form-label">Image URL</label>
									<input id="routeImageSource" class="form-control" type="text" th:field="*{routeImageSource}" required>
								</div>
								<div class="col-12 col-sm-6">
									<label for="createdAt" class="form-label">Created At</label>
									<input id="createdAt" class="form-control" type="text" th:field="*{createdAt}" required disabled>
								</div>
								<div class="col-12 col-sm-6">
									<label for="updatedAt" class="form-label">Updated At</label>
									<input id="updatedAt" class="form-control" type="text" th:value="*{updatedAt}" required disabled>
								</div>
							</div>
						</form>
					</div>
					<div class="card-footer text-end">
						<button form="form" type="submit" id="editRouteSubmit" class="btn btn-outline-primary">Update Route</button>
					</div>
				</div>
			</div>
		</div>
	</main>
</div>
</body>
</html>