<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Let's Go! - Welcome Onboard</title>
    <th:block th:insert="~{fragments/scripts}"></th:block>
	<style>
		.logo {
			width: 100px;
			height: 100px;
			margin-top: 20px;
			margin-left: 20px;
		}
	</style>
</head>
<body class="vh-100 d-flex flex-column text-center">
	<div class="mt-2 mb-5">
		<a th:href="@{/index}">
			<img th:src="@{/company-logo.png}" alt="Let's Go! Logo" class="logo">
		</a>
		<a class="navbar-brand bg-indigo-600 rounded-pill px-3 text-info fw-bold fst-italic" th:href="@{/index}">Let's Go!</a>
	</div>
  <main class="flex-grow-1">
      <h1 class="text-primary mt-5">Welcome to Let's Go!</h1>
      <div class="row m-4 gap-3 justify-content-center">
	      <div class="col-auto mx-0"><a th:href="@{/user/drivers/register_driver}" class="btn btn-lg btn-primary">Sign Up As Driver</a><br/></div>
	      <div class="col-auto mx-0"><a th:href="@{/user/riders/register_rider}" class="btn btn-lg btn-primary">Sign Up As Rider</a><br/></div>
	      <div class="col-12 col-sm-auto mx-0"><a th:href="@{/user/login}" class="btn btn-lg btn-primary">Login</a></div>
      </div>
  </main>
</body>
</html>