<th:block th:fragment="text(field, id, label, class)">
	<div th:class="${class}" >
		<label th:for="${id}" class="form-label" th:text="${label}"></label>
		<input th:id="${id}" class="form-control" th:type="text" th:field="*{__${field}__}" required>
	</div>
</th:block>
<th:block th:fragment="inputReplace(type, field, id, label, class)">
	<div th:class="${class}" >
		<label th:for="${id}" class="form-label" th:text="${label}"></label>
		<input th:id="${id}" class="form-control" th:type="${type}" th:field="*{__${field}__}" required>
	</div>
</th:block>
<th:block th:fragment="inputReplaceReadOnly(type, field, id, label, class)">
	<div th:class="${class}" >
		<label th:for="${id}" class="form-label" th:text="${label}"></label>
		<input th:id="${id}" class="form-control" th:type="${type}" th:field="*{__${field}__}" readonly>
	</div>
</th:block>