<nav class="navbar navbar-expand-sm bg-light" data-bs-theme="light">
	<div class="container-sm">
		<a class="navbar-brand bg-indigo-600 rounded-pill px-3 text-info fw-bold fst-italic" th:href="@{/index}">Let's Go!</a>
		<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarSupportedContent">
			<ul class="navbar-nav me-auto mb-2 mb-lg-0">
				<li class="nav-item">
					<a class="nav-link link-primary" th:href="@{/index}">Home</a>
				</li>
				<li class="nav-item dropdown">
					<a class="nav-link link-primary dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
						Users
					</a>
					<ul class="dropdown-menu">
						<li><a class="dropdown-item link-primary" th:href="@{/admin/users}">Users</a></li>
						<li><a class="dropdown-item link-primary" th:href="@{/admin/riders}">Riders</a></li>
						<li><a class="dropdown-item link-primary" th:href="@{/admin/drivers}">Drivers</a></li>
						<li><hr class="dropdown-divider"></li>
						<li><a class="dropdown-item link-primary" th:href="@{/admin/users/createUser}">Create User</a></li>
					</ul>
				</li>
				<li class="nav-item dropdown">
					<a class="nav-link link-primary dropdown-toggle" th:href="@{/admin/users}" role="button" data-bs-toggle="dropdown" aria-expanded="false">
						Routes
					</a>
					<ul class="dropdown-menu">
						<li><a class="dropdown-item link-primary" th:href="@{/admin/routes}">Routes</a></li>
						<li><hr class="dropdown-divider"></li>
						<li><a class="dropdown-item link-primary" th:href="@{/admin/routes/createRoute}">Create Route</a></li>
					</ul>
				</li>
			</ul>
<!--			<form class="d-flex" role="search" method="get" th:action="@{/admin/users}">-->
<!--				<input class="form-control me-2" type="search" placeholder="Search User" name="keyId" aria-label="Search">-->
<!--				<button class="btn btn-outline-info" type="submit">Search</button>-->
<!--			</form>-->
		</div>
	</div>
</nav>
