<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
	<meta charset="UTF-8">
	<title>Let's Go!</title>
	<th:block th:insert="~{fragments/scripts}"></th:block>
</head>
<body class="vh-100 d-flex flex-column">
<th:block th:insert="~{fragments/navbar}"></th:block>
<div class="d-flex flex-fill">
	<th:block th:insert="~{fragments/sidebar}"></th:block>
	<main class="container-sm text-center flex-grow-1">
		<h1>Active Riders</h1>
		<table class="table table-striped table-hover table-sm align-middle">
			<thead class="table-dark">
			<tr>
				<th>ID</th>
				<th>First Name</th>
				<th>Last Name</th>
				<th>Email</th>
				<th>Admin</th>
				<th>Username</th>
				<th>Rider Status</th>
				<th>Account</th>
				<th>Edit</th>
				<th>Delete</th>
			</tr>
			</thead>
			<tbody class="table-group-divider border-indigo-subtle">
			<tr th:each="r:${listRiders}">
				<td th:text="${r.riderId}"></td>
				<td th:text="${r.user.firstName}"></td>
				<td th:text="${r.user.lastName}"></td>
				<td th:text="${r.user.email}"></td>
				<td th:text="${r.user.isAdmin.toString()}"></td>
				<td th:text="${r.user.username}"></td>
				<td th:text="${r.user.userStatus}"></td>
				<td><a class="btn btn-sm btn-outline-primary" th:href="@{/admin/viewAccount(id=${r.user.userId})}">View Account</a></td>
				<td><a class="btn btn-sm btn-info" th:href="@{/admin/editUser(id=${r.user.userId})}">Edit</a></td>
				<td><a th:href="@{/admin/deleteUser(id=${r.user.userId})}" class="btn btn-danger btn-sm" onclick="return confirm('Are you sure you want to delete the record ?')">Delete</a></td>
			</tr>
			</tbody>
		</table>
	</main>
</div>
</body>
</html>