<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Let's Go!</title>
	<th:block th:insert="~{fragments/scripts}"></th:block>
</head>
<body class="vh-100 d-flex flex-column">
<th:block th:insert="~{fragments/navbar}"></th:block>
<div class="d-flex flex-fill">
	<th:block th:insert="~{fragments/sidebar}"></th:block>
	<main class="container-sm text-center flex-grow-1">
		<div class="row">
			<div class="col-12 col-sm-10 col-md-10 col-lg-9 col-xl-8 col-xxl-7 my-3 mx-auto align-middle">
				<div class="card">
					<div class="card-header">
						<div class="card-title">Edit User</div>
					</div>
					<div class="card-body">
						<form id="form" class="row g-3 p-2" method="post" th:action="@{/admin/editUser}" th:object="${user}">
							<div class="col-md-6">
								<div class="form-floating">
									<input type="text" id="firstName" name="firstName" class="form-control" placeholder="First Name" th:value="*{firstName}" th:field="*{firstName}" th:errorClass="is-invalid" required autofocus>
									<label for="firstName">First Name</label>
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-floating">
									<input type="text" id="lastName" name="lastName" class="form-control" placeholder="Last Name" th:value="*{lastName}" th:field="*{lastName}" th:errorClass="is-invalid" required>
									<label for="lastName">Last Name</label>
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-floating">
									<input type="email" id="email" name="email" class="form-control" placeholder="email@example.com" th:value="*{email}" th:field="*{email}" th:errorClass="is-invalid" required>
									<label for="email">Email</label>
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-floating">
									<input type="password" id="password" name="password" class="form-control" placeholder="password" th:value="*{password}" th:field="*{password}" th:errorClass="is-invalid" required>
									<label for="password">Password</label>
								</div>
							</div>
							<div class="col-md-6">
								<div class="form-floating">
								<input type="text" id="username" name="username" class="form-control" placeholder="username" th:value="*{username}" th:field="*{username}" th:errorClass="is-invalid" required>
									<label for="username">Username</label>
								</div>
							</div>
							<div class="col-md-3">
								<div class="form-floating">
									<select class="form-select" id="isAdmin" name="isAdmin" th:value="*{isAdmin}" th:field="*{isAdmin}" th:errorClass="is-invalid">
										<option value="0" th:selected="*{isAdmin == false}">Not Admin</option>
										<option value="1" th:selected="*{isAdmin == true}">Admin</option>
									</select>
									<label for="isAdmin">Admin Status</label>
								</div>
							</div>
							<div class="col-md-3">
								<div class="form-floating">
									<select class="form-select" id="userStatus" name="userStatus" th:value="*{userStatus}" th:field="*{userStatus}" th:errorClass="is-invalid">
										<option value="inactive" th:selected="*{userStatus == 'inactive'}">Inactive</option>
										<option value="active" th:selected="*{userStatus == 'active'}">Active</option>
										<option value="banned" th:selected="*{userStatus == 'banned'}">Banned</option>
									</select>
									<label for="userStatus">Status</label>
								</div>
							</div>
						</form>
					</div>
					<div class="card-footer text-end">
						<button form="form" type="submit" id="editUserSubmit" class="btn btn-outline-primary">Update User Information</button>
					</div>
				</div>
			</div>
		</div>
	</main>
</div>
</body>
</html>