<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Let's Go! - My Trips</title>
    <th:block th:insert="~{fragments/scripts}"></th:block>
    <style>
        .logo {
            width: 100px;
            height: 100px;
            margin-top: 20px;
            margin-left: 20px;
        }
    </style>
</head>
<body>
<a th:href="@{/index}">
    <img th:src="@{/company-logo.png}" alt="Let's Go! Logo" class="logo">
</a>
<a class="navbar-brand bg-indigo-600 rounded-pill px-3 text-info fw-bold fst-italic" th:href="@{/index}">Let's Go!</a>

</body>
</html>