<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Let's Go! - Admin - Edit Rider</title>
	<th:block th:insert="~{fragments/scripts}"></th:block>
</head>
<body class="vh-100 d-flex flex-column">
<th:block th:insert="~{fragments/navbar}"></th:block>
<div class="d-flex flex-fill">
	<th:block th:insert="~{fragments/sidebar}"></th:block>
	<main class="container-sm text-center flex-grow-1">
		<div class="row">
			<div class="col-12 col-md-10 col-lg-9 col-xl-8 col-xxl-7 my-3 mx-auto align-middle">
				<div class="card">
					<div class="card-header">
						Edit Driver
					</div>
					<div class="card-body text-start">
						<form id="editDriver" class="needs-validation" novalidate method="post" th:action="@{/admin/drivers/editDriver}" th:object="${driver}">
							<input type="hidden" th:field="*{driverId}">
							<input type="hidden" th:field="*{user.userId}">
							<input type="hidden" th:field="*{isActive}">
							<input type="hidden" th:field="*{createdAt}">
							<div class="row g-3">
								<div class="col-6" th:insert="fragments/inputs :: divDisabled('text', 'user.firstName', 'firstname', 'First Name')"></div>
								<div class="col-6" th:insert="fragments/inputs :: divDisabled('text', 'user.lastName', 'lastname', 'Last Name')"></div>
								<div class="col-6 col-sm-4">
									<label for="driverStatus" class="form-label">Status</label>
									<select id="driverStatus" class="form-select" th:field="*{driverStatus}" required>
										<option th:value="Active" th:selected="*{driverStatus == 'Active'}">Active</option>
										<option th:value="Inactive" th:selected="*{driverStatus == 'Inactive'}">Inactive</option>
										<option th:value="Banned" th:selected="*{driverStatus == 'Banned'}">Banned</option>
									</select>
								</div>
								<div class="col-6 col-sm-4" th:insert="fragments/inputs :: divRequired('number', 'tripsDriven', 'tripsDriven', 'Trips Driven')"></div>
								<div class="col-6 col-sm-4" th:insert="fragments/inputs :: divRequired('number', 'timesRated', 'timesRated', 'Times Rated')"></div>
								<div class="col-6 col-sm-3 order-sm-last" th:insert="fragments/inputs :: divDisabled('number', 'driverSafetyScore', 'driverSafetyScore', 'Safety Score')"></div>
								<div class="col-6 col-sm-4" th:insert="fragments/inputs :: divRequired('number', 'driverSafetyRating', 'driverSafetyRating', 'Safety Rating')"></div>
								<div class="col-6 col-sm-5" th:insert="fragments/inputs :: divRequired('number', 'driverResponsibilityRating', 'driverResponsibilityRating', 'Responsibility Rating')"></div>
								<div class="col-12 col-sm-6 order-last" th:insert="fragments/inputs :: divDisabledNoData('text', 'createdAt', 'createdAt', 'Created At')"></div>
								<div class="col-12 col-sm-6 order-last" th:insert="fragments/inputs :: divDisabledNoData('text', 'updatedAt', 'updatedAt', 'Updated At')"></div>
							</div>
						</form>
					</div>
					<div class="card-footer text-end">
						<button form="editDriver" type="submit" id="editRiderSubmit" class="btn btn-outline-primary">Update Driver Information</button>
					</div>
				</div>
			</div>
		</div>
	</main>
</div>
</body>
</html>