<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>Let's Go! - Admin - Edit Rider</title>
		<th:block th:insert="~{fragments/scripts}"></th:block>
	</head>
	<body class="vh-100 d-flex flex-column">
		<th:block th:insert="~{fragments/navbar}"></th:block>
		<div class="d-flex flex-fill">
			<th:block th:insert="~{fragments/sidebar}"></th:block>
			<main class="container-sm text-center flex-grow-1">
				<div class="row">
					<div class="col-12 col-md-10 col-lg-9 col-xl-8 col-xxl-7 my-3 mx-auto align-middle">
						<div class="card">
							<div class="card-header">
								Edit Rider
							</div>
							<div class="card-body text-start">
								<form id="form" class="needs-validation" novalidate method="post" th:action="@{/admin/riders/editRider}" th:object="${rider}">
									<div class="row g-3">
										<div th:replace="fragments/inputs :: disabled('text', 'user.firstName', 'firstName', 'First Name', 'col-6')"></div>
										<div th:replace="fragments/inputs :: disabled('text', 'user.lastName', 'lastName', 'Last Name', 'col-6')"></div>
										<div th:replace="fragments/inputs :: disabledData('number', 'user.userId', 'userId', 'User ID', 'col-6 col-sm-3')"></div>
										<div th:replace="fragments/inputs :: disabledData('number', 'riderId', 'riderId', 'Rider ID', 'col-6 col-sm-3')"></div>
										<div th:replace="fragments/inputs :: disabledData('text', 'isActive', 'isActive', 'Is Active', 'col-6 col-sm-3')"></div>
										<div class="col-6 col-sm-3">
											<label for="riderStatus" class="form-label">Status</label>
											<select id="riderStatus" class="form-select" th:field="*{riderStatus}" required>
												<option th:value="active" th:selected="*{riderStatus == 'active'}">Active</option>
												<option th:value="inactive" th:selected="*{riderStatus == 'inactive'}">Inactive</option>
												<option th:value="banned" th:selected="*{riderStatus == 'banned'}">Banned</option>
											</select>
										</div>
										<div th:replace="fragments/inputs :: required('number', 'timesRated', 'timesRated', 'Times Rated', 'col-6')"></div>
										<div th:replace="fragments/inputs :: required('number', 'tripsTaken', 'tripsTaken', 'Trips Taken', 'col-6')"></div>
										<div th:replace="fragments/inputs :: required('number', 'riderSafetyRating', 'riderSafetyRating', 'Safety Rating', 'col-4')"></div>
										<div th:replace="fragments/inputs :: required('number', 'riderSafetyRating', 'riderSafetyRating', 'Responsibility Rating', 'col-4 col-sm-5')"></div>
										<div th:replace="fragments/inputs :: disabled('number', 'riderSafetyRating', 'riderSafetyRating', 'Safety Score', 'col-4 col-sm-3')"></div>
										<div th:replace="fragments/inputs :: disabledData('text', 'createdAt', 'createdAt', 'Created At', 'col-12 col-sm-6')"></div>
										<div th:replace="fragments/inputs :: disabledNoData('text', 'updatedAt', 'updatedAt', 'Updated At', 'col-12 col-sm-6')"></div>
									</div>
								</form>
							</div>
							<div class="card-footer text-end">
								<button form="form" type="submit" id="editRiderSubmit" class="btn btn-outline-primary">Update Rider Information</button>
							</div>
						</div>
					</div>
				</div>
			</main>
		</div>
	</body>
</html>